* {
  margin: 0;
  padding: 0;
}

.grid {
  background-color: 993366;
  background: linear-gradient(to top, rgba(204, 102, 153), rgba(204, 102 , 153, .5));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "."
  "deserve"
  "built"
  "share"
}












.deserve {
  grid-area: deserve;
  font-family: sans-serif;
  color: white;
  font-size: 50px;
}

.built {
  grid-area: built;
  font-family: sans-serif;
  color: white;
  font-size: 50px;

}

.share {
  grid-area: share;
  font-family: sans-serif;
  color: white;
  font-size: 15px;
}
